html,
body {
  font-family: "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}
.main-container {
  font-family: "Segoe UI";
  border: 1px solid orange;
}
.header-container {
  border: 1px solid black;
  height: 178px;
}
.body-container {
  color: #002b5c;
  font-family: Nunito Sans Bold, sans-serif;
}
.sub_title_1 {
  display: flex;
}
.box_1 {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  padding: 20px;
}

.box_1_start {
  /* border: 1px solid black; */
}
.mini_pic_container {
  padding-left: 80px;
}
.box_1_middle {
  /* border: 1px solid black; */
  /* width: 636px;
  height: 757px; */
}
.box_1_dimension {
  width: 636px;
  height: 757px;
}

/* START OF SLIDESHOW */
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* END OF SLIDESHOW */

.box_1_end {
  /* border: 1px solid black; */
  padding: 0px 40px;
}

.end_title {
  color: #002b5c;
  font-family: Nunito Sans Bold, sans-serif;
}

.stars_icon_div {
  display: grid;
  grid-template-columns: 1fr repeat(6, 1fr);
}
div.review_width {
  width: 120px;
}
div.stars_icon_div {
  width: 20px;
  height: 20px;
}
a.review_txt {
  text-decoration: none;
  padding-left: 15px;
  width: 200px;
}
a.review_txt:hover {
  text-decoration: underline;
}
.btn_bag {
  background-color: #002b5c;
  color: white;
  font-weight: 700;
  text-align: center;
  border: 0;
  box-shadow: none;
  padding: 1em;
  width: 70%;
  max-width: none;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;

  margin-bottom: 4px;
}

.btn_bag_2 {
  color: #002b5c;
  border: 1px solid #002b5c;
  font-weight: 700;
  text-align: center;
  border: 0;
  box-shadow: none;
  padding: 1em;
  width: 70%;
  max-width: none;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.box_2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  background-color: #f7f7f7;
  color: #002b5c;
}

.box_2_inner_left {
  padding: 16px 67px 0px;
  /* width: 675px; */
}

.box_2_inner_right {
  padding: 16px 53px 0px;
}
